@media screen and (max-width: 1200px){
    #submit{
        margin-left: 34rem;
    }
}
@media screen and (max-width: 1000px){
    #submit{
        margin-left: 26rem;
    }
}
@media screen and (max-width: 800px){
    #submit{
        margin-left: 19rem;
    }
}
@media screen and (max-width: 600px){
    #submit{
        margin-left: 11rem;
    }
}
.input-submit{
    margin-left: 45rem;
}
#footer{
    display: flex;
    justify-content:center;
}